<admintpl file="header" />
<style>
.home_info li em {
    float: left;
    width: 120px;
    font-style: normal;
}

li {
    list-style: none;
}
</style>
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/admin/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/style.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/datePicker/laydate/laydate.js"></script>
<!--<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/laydate.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/laydate(1).css" id="LayDateSkin"> -->
<script src="__PUBLIC__/js/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/js/echarts/china.js"></script>
</head>

<body>
    <div class="qi_right_1">
        <div class="qi_con_1">
            <div class="qi_float_l qi_bfb_30">
                <p class="qi_p_2">
                    账户：<a class="btn btn-default" href="javascript:" role="button">选择 <span class="caret"></span></a>
                </p>
                <div id="firstpane" class="menu_list" style="display:none">
                    <hr>
                    <p class="qi_p_3">
                        <span>可获取对象</span>
                        <input type="text">
                        <a href="javascript:" class="qi_a_1">搜索</a>
                        <!--<input id="r2" type="radio" value="1" name="">精确 </input>-->
                    </p>
                    <foreach name="trade" item="vo" key="k">
                        <h3 class="menu_head">{$k}</h3>
                        <div style="display: none;" class="menu_body">
                            <foreach name="vo" item="companyname" key="kk">
                                <a href="javascript:">{$kk}</a>
                                <div style="display: none;" class="menu_body">
                                    <foreach name="companyname" item="user_login" key="kkk">
                                        <a href="javascript:"><span class="bai_name">{$user_login.user_login}</span></a>
                                    </foreach>
                                </div>
                            </foreach>
                        </div>
                    </foreach>
                </div>
            </div>
            <!--设备-->
            <div class="qi_float_l qi_bfb_30">
                设备：
                <select id="device">
                    <option value="0">全部</option>
                    <option value="1">PC</option>
                    <option value="2">移动</option>
                </select>
            </div>
            <div hidden="true">
                <p id="device_current">{$device_current}</p>
            </div>
            <!--设备 end-->
            <!--时间-->
            <div class="qi_float_l qi_bfb_30">
                时间：
                <input type="text" name="date_pick" id="datepicker1">
                <script>
                laydate.render({
                    elem: '#datepicker1',
                    range: true, //指定元素
                    done: function(value) {
                        window.location.href="__CONTROLLER__/index?datepicker="+value;
                        /*$.ajax({
                            type: "post",
                            url: "__CONTROLLER__/index",
                            data: {
                                datepicker: value
                            },
                            dataType: "json",
                            success: function(data) {
                               window.location.reload();
                                alert(1111111);
                            }
                        });*/
                    }
                });
                </script>
            </div>
            <!--时间 end-->
            <div class="qi_float_l qi_bfb_30" id="zhanghu" style="color: red">
            </div>
        </div>
        <div class="qi_con_1">
            <p class="qi_p_4">关键指标</p>
            <div class="jzl-module-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_1 summary_target_bgcolor_1 mb10">
                                    <div class="summary_target_title"><a title="点击">点击</a></div>
                                    <div class="summary_target_body summary_target_color_1">{$keyindex_data[1].click} <span class="summary_target_body_unit">次</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_2 summary_target_bgcolor_2 mb10">
                                    <div class="summary_target_title"><a title="消费">消费</a></div>
                                    <div class="summary_target_body summary_target_color_2">{$keyindex_data[1].cost}  <span class="summary_target_body_unit">元</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_3 summary_target_bgcolor_3 mb10">
                                    <div class="summary_target_title"><a title="展现">展现</a></div>
                                    <div class="summary_target_body summary_target_color_3">{$keyindex_data[1].impression}  <span class="summary_target_body_unit">次</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_4 summary_target_bgcolor_4 mb10">
                                    <div class="summary_target_title"><a title="点击价格">点击价格</a></div>
                                    <div class="summary_target_body summary_target_color_4">{$keyindex_data[1].cpc}  <span class="summary_target_body_unit">元 /点击</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_5 summary_target_bgcolor_5 mb10">
                                    <div class="summary_target_title"><a title="点击率">点击率</a></div>
                                    <div class="summary_target_body summary_target_color_5">{$keyindex_data[1].ctr}  <span class="summary_target_body_unit"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qi_con_1">
            <p class="qi_p_4">关键指标变化率</p>
            <div class="qi_bfb_100">
                <select class="qi_float_r" id="keyindex_select">
                    <option value="ccc">消费/点击/CPC</option>
                    <option value="rcc">平均排名/CPC/CTR</option>
                    <option value="icr">展现/CTR/平均排名</option>
                </select>
            </div>
            <!--统计图1  关键指标变化率 
                *******************
                -->
            <div id="myChart1" style="width: 800px;height: 500px;"></div>
            <!--统计图1 end-->
        </div>
        <div class="qi_con_1">
            <p class="qi_p_4">趋势图</p>
            <div class="qi_bfb_100">
                <select class="qi_float_r" id="qushitu_select">
                    <option value="trend_impression">展现</option>
                    <option value="trend_cost">消费</option>
                    <option value="trend_click">点击</option>
                    <option value="trend_cpc">CPC</option>
                    <option value="trend_ctr">CTR</option>
                    <option value="trend_cpm">CPM</option>
                    <option value="trend_avgrank">平均排名</option>
                </select>
            </div>
            <!--统计图2 趋势图-->
            <div id="myChart2" style="width: 800px;height:400px;"></div>
            <div hidden="true">
                <p id="trend_data">{$trend_data}</p>
            </div>
            <!--统计图2 趋势图 end-->
        </div>
        <div class="qi_con_1">
            <p class="qi_p_4">地域情况</p>
            <div class="qi_bfb_100">
                <select class="qi_float_r" id="region_select">
                    <option value="region_impression">展现</option>
                    <option value="region_cost">消费</option>
                    <option value="region_click">点击</option>
                    <option value="region_cpc">CPC</option>
                    <option value="region_ctr">CTR</option>
                    <option value="region_cpm">CPM</option>
                    <option value="region_avgrank">平均排名</option>
                </select>
            </div>
            <!-- 地区分布  -->
            <div id="china-map" style="width: 800px;height:400px;"></div>
            <div hidden="true">
                <p id="region_data">{$region_data}</p>
                <p id="region_data2">{$region_data2}</p>
            </div>
            
        </div>
        <!-- 地域分布  end -->
        <div class="qi_con_1">
            <p class="qi_p_4">分时汇总</p>
            <div class="qi_bfb_100">
                <select class="qi_float_r" id="fenshi_select">
                    <option value="fenshi_cost">消费</option>
                    <option value="fenshi_impression">展现</option>
                    <option value="fenshi_click">点击</option>
                    <option value="fenshi_cpc">CPC</option>
                    <option value="fenshi_ctr">CTR</option>
                    <option value="fenshi_avgrank">平均排名</option>
                </select>
            </div>
            <!-- 分时汇总 -->
            <div id="myChart4" style="width: 800px;height:400px;"></div>
            <div hidden="true">
                <p id="fenshi_data">{$fenshi_data}</p>
            </div>
            <!-- 分时汇总 end -->
        </div>
    </div>
<!-- 关键指标变化率 myChart1****************************-->
    <script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('myChart1'));
    // 指定图表的配置项和数据
    var option1 = {
        tooltip: {
            formatter: "{a} <br/>{b} : {c}%"
        },
        toolbox: {
            feature: {
                saveAsImage: {
                    pixelRatio: 3
                }
            }
        },
        series: [{
                name: '业务指标',
                type: 'gauge',
                radius: '50%',
                center: ['20%', '55%'],
                min: 0,
                max: 200,
                splitNumber: 4,
                axisLine: { // 坐标轴线
                    lineStyle: { // 属性lineStyle控制线条样式
                        width: 5
                    }
                },
                detail: {
                    formatter: '{value}%',
                    fontSize: 15
                },
                data: [{
                    value: 0,
                    name: '消费'
                }]
            },

            {
                name: '业务指标',
                type: 'gauge',
                radius: '50%',
                center: ['50%', '55%'],
                min: 0,
                max: 200,
                splitNumber: 4,
                axisLine: { // 坐标轴线
                    lineStyle: { // 属性lineStyle控制线条样式
                        width: 5
                    }
                },

                detail: {
                    formatter: '{value}%',
                    fontSize: 15
                },
                data: [{
                    value: 0,
                    name: '点击'
                }]
            }, {
                name: '业务指标',
                type: 'gauge',
                radius: '50%',
                center: ['80%', '55%'],
                min: 0,
                max: 200,
                splitNumber: 4,
                axisLine: { // 坐标轴线
                    lineStyle: { // 属性lineStyle控制线条样式
                        width: 5
                    }
                },
                detail: {
                    formatter: '{value}%',
                    fontSize: 15
                },
                data: [{
                    value: 0,
                    name: 'CPC'
                }]
            },
        ]
    };

    var ki_a0 = {$keyindex_data[0].cost};
    var ki_a1 = {$keyindex_data[1].cost};
    ki_b0 = {$keyindex_data[0].click};
    ki_b1 = {$keyindex_data[1].click};
    ki_c0 = {$keyindex_data[0].cpc};
    ki_c1 = {$keyindex_data[1].cpc};
    
    setInterval(function() {
        option1.series[0].data[0].value =Math.round(ki_a1 /ki_a0*10000.0)/100 ;
        option1.series[1].data[0].value = Math.round(ki_b1 /ki_b0*10000.0)/100;
        option1.series[2].data[0].value = Math.round(ki_c1 /ki_c0*10000.0)/100;
        myChart1.setOption(option1, true);
    }, 2000);

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
    $("#keyindex_select").change(function(event) {
        /* Act on the event */
        if ($(this).val()=="ccc") {
            option1.series[0].data[0].name = "消费";
            option1.series[1].data[0].name = "点击";
            option1.series[2].data[0].name = "cpc";
            ki_a0 = {$keyindex_data[0].cost};
            ki_a1 = {$keyindex_data[1].cost};
            ki_b0 = {$keyindex_data[0].click};
            ki_b1 = {$keyindex_data[1].click};
            ki_c0 = {$keyindex_data[0].cpc};
            ki_c1 = {$keyindex_data[1].cpc}; 
            myChart1.setOption(option1);
        }else if ($(this).val()=="rcc") {
            option1.series[0].data[0].name = "平均排名";
            option1.series[1].data[0].name = "cpc";
            option1.series[2].data[0].name = "ctr";
            ki_a0 = 1;
            ki_a1 = 0;
            ki_b0 = {$keyindex_data[0].cpc};
            ki_b1 = {$keyindex_data[1].cpc};
            ki_c0 = {$keyindex_data[0].ctr};
            ki_c1 = {$keyindex_data[1].ctr};
            myChart1.setOption(option1);
        }else if ($(this).val()=="icr") {
            option1.series[0].data[0].name = "展现";
            option1.series[1].data[0].name = "ctr";
            option1.series[2].data[0].name = "平均排名";
            ki_a0 = {$keyindex_data[0].impression};
            ki_a1 = {$keyindex_data[1].impression};
            ki_b0 = {$keyindex_data[0].ctr};
            ki_b1 = {$keyindex_data[1].ctr};
            ki_c0 = 1;
            ki_c1 = 0;
            myChart1.setOption(option1);
        }
    });



    </script>
<!-- 趋势图 myChart2**************************** -->
    <script>
    var myChart2 = echarts.init(document.getElementById('myChart2'));
    var option2 = {
        tooltip: {
            formatter: "{a} <br/>{b} : {c}"
        },
        toolbox: {
            feature: {
                saveAsImage: {
                    pixelRatio: 3
                }
            }
        },
        xAxis: {
            type: 'category',
            data:$.parseJSON($("#trend_data").text())['date']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name:$.parseJSON($("#trend_data").text())['name'],
            data: $.parseJSON($("#trend_data").text())['impression'],
            type: 'line',
            smooth: true
        }]
    };
    
    myChart2.setOption(option2);
    $("#qushitu_select").change(function(event) {
        /* Act on the event */
        switch($(this).val()){
            case "trend_impression":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['impression'];
                myChart2.setOption(option2);
                break;
            case "trend_cost":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['cost'];
                myChart2.setOption(option2);
                break;
            case "trend_cpc":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['cpc'];
                myChart2.setOption(option2);
                break;
            case "trend_ctr":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['ctr'];
                myChart2.setOption(option2);
                break;
            case "trend_click":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['click'];
                myChart2.setOption(option2);
                break;
            case "trend_cpm":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['cpm'];
                myChart2.setOption(option2);
                break;
            case "trend_avgrank":
                option2.series[0].data=$.parseJSON($("#trend_data").text())['avgrank'];
                myChart2.setOption(option2);
                break;
            default :break;
        }
        
    });
    </script>
<!-- 地域分布 myChart3****************************-->
    <script>
    
    var myChart3 = echarts.init(document.getElementById('china-map'));
    var geoCoordMap = {
    '海门':[121.15,31.89],
    '鄂尔多斯':[109.781327,39.608266],
    '招远':[120.38,37.35],
    '舟山':[122.207216,29.985295],
    '齐齐哈尔':[123.97,47.33],
    '盐城':[120.13,33.38],
    '赤峰':[118.87,42.28],
    '青岛':[120.33,36.07],
    '乳山':[121.52,36.89],
    '金昌':[102.188043,38.520089],
    '泉州':[118.58,24.93],
    '莱西':[120.53,36.86],
    '日照':[119.46,35.42],
    '胶南':[119.97,35.88],
    '南通':[121.05,32.08],
    '拉萨':[91.11,29.97],
    '云浮':[112.02,22.93],
    '梅州':[116.1,24.55],
    '文登':[122.05,37.2],
    '上海':[121.48,31.22],
    '攀枝花':[101.718637,26.582347],
    '威海':[122.1,37.5],
    '承德':[117.93,40.97],
    '厦门':[118.1,24.46],
    '汕尾':[115.375279,22.786211],
    '潮州':[116.63,23.68],
    '丹东':[124.37,40.13],
    '太仓':[121.1,31.45],
    '曲靖':[103.79,25.51],
    '烟台':[121.39,37.52],
    '福州':[119.3,26.08],
    '瓦房店':[121.979603,39.627114],
    '即墨':[120.45,36.38],
    '抚顺':[123.97,41.97],
    '玉溪':[102.52,24.35],
    '张家口':[114.87,40.82],
    '阳泉':[113.57,37.85],
    '莱州':[119.942327,37.177017],
    '湖州':[120.1,30.86],
    '汕头':[116.69,23.39],
    '昆山':[120.95,31.39],
    '宁波':[121.56,29.86],
    '湛江':[110.359377,21.270708],
    '揭阳':[116.35,23.55],
    '荣成':[122.41,37.16],
    '连云港':[119.16,34.59],
    '葫芦岛':[120.836932,40.711052],
    '常熟':[120.74,31.64],
    '东莞':[113.75,23.04],
    '河源':[114.68,23.73],
    '淮安':[119.15,33.5],
    '泰州':[119.9,32.49],
    '南宁':[108.33,22.84],
    '营口':[122.18,40.65],
    '惠州':[114.4,23.09],
    '江阴':[120.26,31.91],
    '蓬莱':[120.75,37.8],
    '韶关':[113.62,24.84],
    '嘉峪关':[98.289152,39.77313],
    '广州':[113.23,23.16],
    '延安':[109.47,36.6],
    '太原':[112.53,37.87],
    '清远':[113.01,23.7],
    '中山':[113.38,22.52],
    '昆明':[102.73,25.04],
    '寿光':[118.73,36.86],
    '盘锦':[122.070714,41.119997],
    '长治':[113.08,36.18],
    '深圳':[114.07,22.62],
    '珠海':[113.52,22.3],
    '宿迁':[118.3,33.96],
    '咸阳':[108.72,34.36],
    '铜川':[109.11,35.09],
    '平度':[119.97,36.77],
    '佛山':[113.11,23.05],
    '海口':[110.35,20.02],
    '江门':[113.06,22.61],
    '章丘':[117.53,36.72],
    '肇庆':[112.44,23.05],
    '大连':[121.62,38.92],
    '临汾':[111.5,36.08],
    '吴江':[120.63,31.16],
    '石嘴山':[106.39,39.04],
    '沈阳':[123.38,41.8],
    '苏州':[120.62,31.32],
    '茂名':[110.88,21.68],
    '嘉兴':[120.76,30.77],
    '长春':[125.35,43.88],
    '胶州':[120.03336,36.264622],
    '银川':[106.27,38.47],
    '张家港':[120.555821,31.875428],
    '三门峡':[111.19,34.76],
    '锦州':[121.15,41.13],
    '南昌':[115.89,28.68],
    '柳州':[109.4,24.33],
    '三亚':[109.511909,18.252847],
    '自贡':[104.778442,29.33903],
    '吉林':[126.57,43.87],
    '阳江':[111.95,21.85],
    '泸州':[105.39,28.91],
    '西宁':[101.74,36.56],
    '宜宾':[104.56,29.77],
    '呼和浩特':[111.65,40.82],
    '成都':[104.06,30.67],
    '大同':[113.3,40.12],
    '镇江':[119.44,32.2],
    '桂林':[110.28,25.29],
    '张家界':[110.479191,29.117096],
    '宜兴':[119.82,31.36],
    '北海':[109.12,21.49],
    '西安':[108.95,34.27],
    '金坛':[119.56,31.74],
    '东营':[118.49,37.46],
    '牡丹江':[129.58,44.6],
    '遵义':[106.9,27.7],
    '绍兴':[120.58,30.01],
    '扬州':[119.42,32.39],
    '常州':[119.95,31.79],
    '潍坊':[119.1,36.62],
    '重庆':[106.54,29.59],
    '台州':[121.420757,28.656386],
    '南京':[118.78,32.04],
    '滨州':[118.03,37.36],
    '贵阳':[106.71,26.57],
    '无锡':[120.29,31.59],
    '本溪':[123.73,41.3],
    '克拉玛依':[84.77,45.59],
    '渭南':[109.5,34.52],
    '马鞍山':[118.48,31.56],
    '宝鸡':[107.15,34.38],
    '焦作':[113.21,35.24],
    '句容':[119.16,31.95],
    '北京':[116.46,39.92],
    '徐州':[117.2,34.26],
    '衡水':[115.72,37.72],
    '包头':[110,40.58],
    '绵阳':[104.73,31.48],
    '乌鲁木齐':[87.68,43.77],
    '枣庄':[117.57,34.86],
    '杭州':[120.19,30.26],
    '淄博':[118.05,36.78],
    '鞍山':[122.85,41.12],
    '溧阳':[119.48,31.43],
    '库尔勒':[86.06,41.68],
    '安阳':[114.35,36.1],
    '开封':[114.35,34.79],
    '济南':[117,36.65],
    '德阳':[104.37,31.13],
    '温州':[120.65,28.01],
    '九江':[115.97,29.71],
    '邯郸':[114.47,36.6],
    '临安':[119.72,30.23],
    '兰州':[103.73,36.03],
    '沧州':[116.83,38.33],
    '临沂':[118.35,35.05],
    '南充':[106.110698,30.837793],
    '天津':[117.2,39.13],
    '富阳':[119.95,30.07],
    '泰安':[117.13,36.18],
    '诸暨':[120.23,29.71],
    '郑州':[113.65,34.76],
    '哈尔滨':[126.63,45.75],
    '聊城':[115.97,36.45],
    '芜湖':[118.38,31.33],
    '唐山':[118.02,39.63],
    '平顶山':[113.29,33.75],
    '邢台':[114.48,37.05],
    '德州':[116.29,37.45],
    '济宁':[116.59,35.38],
    '荆州':[112.239741,30.335165],
    '宜昌':[111.3,30.7],
    '义乌':[120.06,29.32],
    '丽水':[119.92,28.45],
    '洛阳':[112.44,34.7],
    '秦皇岛':[119.57,39.95],
    '株洲':[113.16,27.83],
    '石家庄':[114.48,38.03],
    '莱芜':[117.67,36.19],
    '常德':[111.69,29.05],
    '保定':[115.48,38.85],
    '湘潭':[112.91,27.87],
    '金华':[119.64,29.12],
    '岳阳':[113.09,29.37],
    '长沙':[113,28.21],
    '衢州':[118.88,28.97],
    '廊坊':[116.7,39.53],
    '菏泽':[115.480656,35.23375],
    '合肥':[117.27,31.86],
    '武汉':[114.31,30.52],
    '大庆':[125.03,46.58]
};
var data =$.parseJSON($("#region_data2").text()).region_map2['impression']; 

var convertData = function (data) {
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
            res.push({
                name: data[i].name,
                value: geoCoord.concat(data[i].value)
            });
        }
    }
    return res;
};
var region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['impression']['name'].slice(0, 10);
    var region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['impression']['data'].slice(0, 10);
    var region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['impression']['name'].slice(0, 10);
    var region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['impression']['data'].slice(0, 10);
    var region_map_city_data = convertData(data);
    var region_map_province_data = $.parseJSON($("#region_data").text()).region_map['impression'];
    var option3 = {
        
        toolbox: {
            show: true,
            orient: 'horizontal',
            left: 'right',
            top: 'top',
            feature: {
                dataView: {
                    readOnly: false
                },
                restore: {},
                saveAsImage: {
                    pixelRatio: 4,
                    backgroundColor: '#fff'

                }
            }
        },

        legend: {
        orient: 'horizontal',
        top: '20%',
        left: '66%',
        data: ['省份', '城市'],
        selectedMode: 'single',
        selected: {
            '省份': true,
            '城市': false
        }

    },
     grid: {
        x: '66%',
        y: '27%',
        width: '27%',
        height: '60%',
        show:true
    },
    xAxis:{
        type:'value',
        show:true
        
    },
    yAxis:{
        
        type:'category',
        inverse:true,
        data:region_grid_province_name
    },
        /*图例 */
        visualMap: {
            orient:'horizontal',
            
        type: 'continuous',
        min: 0,
        max:Math.ceil(Math.max(...region_grid_province_data)),
        text:['High','Low'],
        realtime: false,
        calculable : true,
        color: ['orangered','yellow','lightskyblue']
    },
    geo: {
        map: 'china',
        roam: true,
        left:'7%',
        label: {
            normal: {
                show: true,
                textStyle: {
                    color: 'rgba(0,0,0,0.4)'
                }
            }
        },
        itemStyle: {
            normal:{
                borderColor: 'rgba(0, 0, 0, 0.2)'
            },
            emphasis:{
                areaColor: null,
                shadowOffsetX: 0,
                shadowOffsetY: 0,
                shadowBlur: 20,
                borderWidth: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    },
    /*鼠标移动*/
        tooltip: {
            // show: false, //不显示提示标签
            formatter: '{b}:{c}',
            /*提示标签格式*/
            backgroundColor: "#ff7f50", //提示标签背景颜色
            textStyle: {
                color: "#fff"
            } //提示标签字体颜色
        },
        series: [
        {
            name:'省份',
            type:'bar',
            data:region_grid_province_data
        },{
            name:'城市',
            type:'bar',
            data:region_grid_city_data
        },
        {
           name:"城市",
           type: 'scatter',
           coordinateSystem: 'geo',
           data: convertData(data),
           symbolSize: 12,
           
           symbolRotate: 35,
           label: {
               normal: {
                   formatter: '{b}',
                   position: 'right',
                   show: false
               },
               emphasis: {
                   show: true
               }
           },
           itemStyle: {
               normal: {
                    color: '#F06C00'
               }
           }
        },
        {
            name:"省份",
            type: 'map',
            mapType: 'china',
            geoIndex:0,
            label: {
                normal: {
                    show: true, //显示省份标签
                    textStyle: {
                        color: "#c71585"
                    } //省份标签字体颜色
                },
                emphasis: {
                    //对应的鼠标悬浮效果
                    show: true,
                    textStyle: {
                        color: "#800080"
                    }
                }
            },
            
            itemStyle: {
                normal: {
                    borderWidth: .5, //区域边框宽度
                    borderColor: '#009fe8', //区域边框颜色
                    areaColor: "#ffefd5", //区域颜色
                },
                emphasis: {
                    borderWidth: .5,
                    borderColor: '#4b0082',
                    areaColor: "#ffdead",
                }
            },
            data:  region_map_province_data
        }

        ],
    };
    //console.log($.parseJSON($("#region_data").text()));
    myChart3.setOption(option3);
    myChart3.on('legendselectchanged', function(params) {
        if (params.name=="城市") {
            option3.yAxis.data=region_grid_city_name;
            option3.legend.selected ={
            '省份': false,
            '城市': true
        };
            myChart3.setOption(option3);
        }else if(params.name=="省份"){
        option3.yAxis.data=region_grid_province_name;
        option3.legend.selected = {
            '省份': true,
            '城市': false
        };
        myChart3.setOption(option3);
        }
        console.log(params);
    });

    
    $("#region_select").change(function(event) {
        switch($(this).val()){
            case 'region_impression':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['impression']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['impression']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['impression']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['impression']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['impression']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['impression'];
                break;
            case 'region_cost':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['cost']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['cost']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['cost']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['cost']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['cost']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['cost'];
                break;
            case 'region_click':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['click']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['click']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['click']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['click']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['click']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['click'];
                break;
            case 'region_cpc':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['cpc']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['cpc']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['cpc']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['cpc']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['cpc']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['cpc'];
                break;
            case 'region_ctr':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['ctr']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['ctr']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['ctr']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['ctr']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['ctr']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['ctr'];
                break;
            case 'region_cpm':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['cpm']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['cpm']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['cpm']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['cpm']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['cpm']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['cpm'];
                break;
            case 'region_avgrank':
                region_grid_city_name = $.parseJSON($("#region_data2").text()).region_grid2['avgrank']['name'].slice(0, 10);
                region_grid_city_data = $.parseJSON($("#region_data2").text()).region_grid2['avgrank']['data'].slice(0, 10);
                region_map_city_data = convertData($.parseJSON($("#region_data2").text()).region_map2['avgrank']);
                region_grid_province_name =$.parseJSON($("#region_data").text()).region_grid['avgrank']['name'].slice(0, 10);
                region_grid_province_data =$.parseJSON($("#region_data").text()).region_grid['avgrank']['data'].slice(0, 10);
                region_map_province_data=$.parseJSON($("#region_data").text()).region_map['avgrank'];
                break;
            default:break;
        }
        if (option3.legend.selected.城市 == true) {
            option3.yAxis.data = region_grid_city_name;
        }else{
            option3.yAxis.data=region_grid_province_name;
        }
        
        option3.series[0].data=region_grid_province_data;
        option3.series[1].data=region_grid_city_data;
        option3.series[2].data=region_map_city_data;
        option3.series[3].data=region_map_province_data;
        option3.visualMap.max = Math.max.apply(null, region_grid_province_data);
        myChart3.setOption(option3);
    });
    </script>
<!-- 分时汇总 myChart4*********************** -->
    <script>
    var myChart4 = echarts.init(document.getElementById('myChart4'));
    var option4 = {
        tooltip: {
            formatter: "{a} <br/>{b}时 : {c}"
        },
        toolbox: {
            feature: {
                saveAsImage: {
                    pixelRatio: 3
                }
            }
        },
         yAxis: {
            type: 'value'
        },
        xAxis: {
            type: 'category',
            data: jQuery.parseJSON($("#fenshi_data").text())['date'],
        },
       
        series: [{
            data: jQuery.parseJSON($("#fenshi_data").text())['kpis']['cost'],
            type: 'bar'
        }]
    };
   
    myChart4.setOption(option4);
   $("#fenshi_select").change(function(event) {
       switch($(this).val()){
        case "fenshi_impression":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['impression']; 
            myChart4.setOption(option4);
            break;
        case "fenshi_cost":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['cost']; 
            myChart4.setOption(option4);
            break;
        case "fenshi_click":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['click']; 
            myChart4.setOption(option4);
            break;
        case "fenshi_avgrank":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['avgrank']; 
            myChart4.setOption(option4);
            break;
        case "fenshi_cpc":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['cpc']; 
            myChart4.setOption(option4);
            break;
        case "fenshi_ctr":
            option4.xAxis.data = jQuery.parseJSON($("#fenshi_data").text())['date'];
            option4.series[0].data =jQuery.parseJSON($("#fenshi_data").text())['kpis']['ctr']; 
            myChart4.setOption(option4);
            break;
        default :
            break;
       }
   });
    </script>
</body>

</html>
<script>
$(".bai_name").click(function() {
    var target = $(this).text();
    $("#zhanghu").html(target);
    $("#firstpane").css('display', 'none');
    $("#zhanghu").css('color', 'red');

    $.ajax({
        type: "post",
        url: "__CONTROLLER__/index",
        data: {
            target: target
        },
        dataType: "json",
        success: function(data) {
            alert(1111111);
            // window.location = "/Admin/Index/index";
        }
    });
})
$(function(){

    var word = $("#device_current").text();
    var option = $("#device option");
    for(var i=0;i<option.length;i++){
        if(word == option[i].value){
            option[i].selected = 'selected';
            break;
        }
    }
});
$("#device").change(function() {
    
    var device = $(this).val();
    console.log(device);
    window.location.href="__CONTROLLER__/index?device="+device;

    /*$.ajax({
        type: "post",
        url: "__CONTROLLER__/index",
        data: {
            device: device
        },
        dataType: "json",
        success: function(data) {
            alert(1111111);
            // window.location = "/Admin/Index/index";
        }
    });*/
})
</script>
