<admintpl file="header" />
<style>
.home_info li em {
	float: left;
	width: 120px;
	font-style: normal;
}
li {
	list-style: none;
}

</style>

<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC__/admin/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/style.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/datePicker/laydate/laydate.js"></script>
<!--<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/laydate.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/laydate(1).css" id="LayDateSkin"> -->

<script src="__PUBLIC__/js/echarts/echarts.min.js"></script>


</head>
<body>
	<div class="qi_right_1">
		<div class="qi_con_1">
			<div class="qi_float_l qi_bfb_30">
				<p class="qi_p_2">
					账户：<a class="btn btn-default" href="javascript:" role="button">选择 <span class="caret"></span></a>
				</p>
				<div id="firstpane" class="menu_list" style="display:none">
					<hr>
					<p class="qi_p_3">
						<span>可获取对象</span>
						<input type="text">
						<a href="javascript:" class="qi_a_1">搜索</a>
						<!--<input id="r2" type="radio" value="1" name="">精确 </input>-->
					</p>
					<foreach name="trade" item="vo" key="k">
						<h3 class="menu_head">{$k}</h3>
						<div style="display: none;" class="menu_body">
							<foreach name="vo" item="companyname" key="kk">
								<a href="javascript:" >{$kk}</a>
								<div style="display: none;" class="menu_body">
									<foreach name="companyname" item="user_login" key="kkk">
										<a href="javascript:"><span class="bai_name">{$user_login.user_login}</span></a>
									</foreach>
								</div>
							</foreach>
						</div>
					</foreach>
				</div>
			</div>
            <div class="qi_float_l qi_bfb_30" id="zhanghu" style="color: red">
            </div>

			<!--设备-->
			<div class="qi_float_l qi_bfb_30">
				设备：<select id="device">
				<option value="0">全部</option>
				<option value="2">PC</option>
				<option value="1">移动</option>
			</select>
			</div>
			<!--设备 end-->


			<!--时间-->
			<div class="qi_float_l qi_bfb_30">
				时间：<input type="text" name="date_pick" id="datepicker1">
				<script>
                    laydate.render({
                      elem: '#datepicker1' ,
                      range: true,//指定元素
                      done: function(value){
                            $.ajax({
                                type: "post",
                                url: "/Admin/Main/index",
                                data: {
                                    datepicker:value
                                },
                                dataType: "json",
                                success: function(data){
                                    alert(1111111);
                                }
                            });
                      }
                    });
				</script>
			</div>
			<!--时间 end-->
		</div>

        <div class="qi_con_1">
            <p class="qi_p_4">关键指标</p>
            <div class="jzl-module-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_1 summary_target_bgcolor_1 mb10">
                                    <div class="summary_target_title"><a title="点击">点击</a></div>
                                    <div class="summary_target_body summary_target_color_1">0 <span class="summary_target_body_unit">次</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_2 summary_target_bgcolor_2 mb10">
                                    <div class="summary_target_title"><a title="消费">消费</a></div>
                                    <div class="summary_target_body summary_target_color_2">0 <span class="summary_target_body_unit">元</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_3 summary_target_bgcolor_3 mb10">
                                    <div class="summary_target_title"><a title="UV">UV</a></div>
                                    <div class="summary_target_body summary_target_color_3">0 <span class="summary_target_body_unit">个</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_4 summary_target_bgcolor_4 mb10">
                                    <div class="summary_target_title"><a title="转化次数">转化次数</a></div>
                                    <div class="summary_target_body summary_target_color_4">0 <span class="summary_target_body_unit">次</span></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-sx-12" ng-repeat="(index,item) in table_items">
                                <div class="summary_target summary_target_5 summary_target_bgcolor_5 mb10">
                                    <div class="summary_target_title"><a title="CPA">CPA</a></div>
                                    <div class="summary_target_body summary_target_color_5">0 <span class="summary_target_body_unit">元</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="qi_con_1">
			<p class="qi_p_4">关键指标变化率</p>
			<div class="qi_bfb_100">
				<select class="qi_float_r">
					<option value="volvo">消费/点击/CPC</option>
					<option value="saab">平均排名/CPC/CTR</option>
					<option value="opel">展现/CTR/平均排名</option>
				</select>
			</div>
			<!--统计图2-->
			<!--<div id="chart2" height="400" width="600"></div>-->
            <div id="main" style="width: 600px;height:400px;"></div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                // 指定图表的配置项和数据
                var option = {
                    tooltip : {
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {
                                pixelRatio:3
                            }
                        }
                    },
                    series: [
                        {
                            name: '业务指标',
                            type: 'gauge',
                            radius: '50%',
                            center: ['20%', '55%'],
                            min: 0,
                            max: 200,
                            splitNumber: 4,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 5
                                }
                            },
                            detail: {
                                formatter:'{value}%',
                                fontSize:15
                            },
                            data: [{value: 50, name: '点击'}]
                        },

                        {
                            name: '业务指标',
                            type: 'gauge',
                            radius: '50%',
                            center: ['50%', '55%'],
                            min: 0,
                            max: 200,
                            splitNumber: 4,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 5
                                }
                            },

                            detail: {
                                formatter:'{value}%',
                                fontSize:15
                            },
                            data: [{value: 50, name: '转化次数'}]
                        },
                        {
                            name: '业务指标',
                            type: 'gauge',
                            radius: '50%',
                            center: ['80%', '55%'],
                            min: 0,
                            max: 200,
                            splitNumber: 4,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 5
                                }
                            },
                            detail: {
                                formatter:'{value}%',
                                fontSize:15
                            },
                            data: [{value: 50, name: 'CPA'}]
                        },
                    ]
                };

                setInterval(function () {
                    option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
                    option.series[1].data[0].value = (Math.random() * 50).toFixed(2) - 0;
                    option.series[2].data[0].value = (Math.random() * 50).toFixed(2) - 0;
                    myChart.setOption(option, true);
                },2000);

                // 使用刚指定的配置项和数据显示图表。
                //myChart.setOption(option);
            </script>
			<!--统计图2 end-->
		</div>

        <div class="qi_con_1">
            <p class="qi_p_4">趋势图</p>
            <div class="qi_bfb_100">
                <select class="qi_float_r" id="qushitu_select">
                    <option value="0">展现</option>
                    <option value="1">消费</option>
                    <option value="2">点击</option>
                    <option value="3">CPC</option>
                    <option value="4">CTR</option>
                    <option value="5">平均排名</option>
                </select>
            </div>


            <!--统计图1-->
            <div id="myChart0" style="width: 600px;height:400px;"></div>
            <!--统计图1 end-->
            <script>
                var myChart0 = echarts.init(document.getElementById('myChart0'));
                var option0 = {
                    toolbox: {
                        feature: {
                            saveAsImage: {
                                pixelRatio:3
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        type: 'line',
                        smooth: true
                    }]
                };
                myChart0.setOption(option0);
            </script>
        </div>

		<div class="qi_con_1">
			<p class="qi_p_4">分时汇总</p>
			<div class="qi_bfb_100">
				<select class="qi_float_r">
					<option value="volvo">消费</option>
					<option value="saab">展现</option>
					<option value="opel">点击</option>
					<option value="audi">CPC</option>
					<option value="audi">CTR</option>
					<option value="audi">平均排名</option>
				</select>
			</div>
            <div id="myChart1" style="width: 600px;height:400px;"></div>

            <script>
                var myChart1 = echarts.init(document.getElementById('myChart1'));
                var option1 = {
                    toolbox: {
                        feature: {
                            saveAsImage: {
                                pixelRatio:3
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [120, 200, 150, 80, 70, 110, 130],
                        type: 'bar'
                    }]
                };
                myChart1.setOption(option1);
            </script>

		</div>
	</div>


</body>
</html>


<script>
    $(".bai_name").click(function () {
        var target = $(this).text();
//        $("#zhanghu").append(target);
        $("#zhanghu").html(target);
        $("#firstpane").css('display','none');
        $("#zhanghu").css('color','red');

        $.ajax({
            type: "post",
            url: "/Admin/Main/index",
            data: {
                target:target
            },
            dataType: "json",
            success: function(data){
                 alert(1111111);
               // window.location = "/Admin/Index/index";
            }
        });
    })
    $("#device").change(function () {
        var device = $('#device :selected').val();
        $.ajax({
            type: "post",
            url: "/Admin/Main/index",
            data: {
                device:device
            },
            dataType: "json",
            success: function(data){
                 alert(1111111);
               // window.location = "/Admin/Index/index";
            }
        });
    })
</script>

