 /* for ie6 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td {margin:0;padding:0; font-family: "微软雅黑"}
body,button, input, select, textarea {font:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif,;  color:#333;letter-spacing:1px; font-size:14px;}
h1 { font-size: 18px;text-align:center;}
h2 { font-size: 16px; font-weight:normal;}
h3 { font-size: 14px; font-weight:normal;}
h4, h5, h6 { font-size: 100%; font-weight:normal;text-align:center;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
 small { font-size: 12px; }
ul, ol,dl{ list-style: none; }
a { text-decoration: none; color:#333;}
a:hover,a:active,a:focus,a:visited { text-decoration: none; }
abbr[title], acronym[title] {border-bottom: 1px dotted;cursor:help;}
q:before, q:after { content:''; }
/* 重置表单元素 */
legend { color: #000; }
fieldset, img { border: none; }
button, input, select, textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
hr{border: none;height: 1px;}




body{
  background: #f5f5f5;
}

.qi_right_1{
    float: left;
    padding: 15px;
    width: 100%;
}

/*弹窗*/
.tc{
    width: 100%;
    background:#000;
    filter:alpha(opacity:30);
    opacity:0.3;
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
}
.tc_con{
    width:50%;
    height:50%;
    background: #fff;
    position: fixed;
    z-index: 10;
    top:20%;
    left:25%;
}
.tc_con p.qi_con_xx{
    width: 96%;
    height: 40px;
    line-height: 36px;
    font-size: 16px;
    color: #323534;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background: #30568b;
    color:#fff;
    padding:0 2%;
}
.tc_con p.qi_con_xx img{
    float: right;
    cursor: pointer;
    margin-top:12px;
}
.qi_tc_1{
    width: 96%;
    margin: 1% auto 0;
}

/*弹窗 end*/

.qi_con_1{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 10px;
  float: left;
  background: #fff;
}
.qi_con_2{
  width: 98%;
  overflow: hidden;
  margin:0 auto;
  margin: 10px auto;
}
.qi_con_2_left, .qi_con_2_right{
  width: 49.5%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;

}
.qi_con_2_left{
  float: left;
}

.qi_con_2_right{
  float: right;
}


.qi_float_l{
    float: left;
}

.qi_float_r{
    float: right;
}

.qi_p_1{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.qi_a_1{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.qi_a_1:hover{
    background: #eee;
}
.qi_a_1dj{
    background: #eee;
}
.qi_bfb_30{
    width: 30%;
}
.qi_bfb_40{
    width: 40%;
}
.qi_bfb_100{
    width: 100%;
    overflow: hidden;
}
.qi_p_2{
    padding: 0;
}
.qi_p_3{
    padding: 10px 0;
}
.qi_p_4{
    font-size: 18px;
    font-weight: bold;
}
.qi_p_5{
  font-size: 16px;
  margin: 0 0 15px 0;
  width: 100%;
  overflow: hidden;
}
.btn{
    padding:0 12px;
}
.qi_inp_wid{
  width: 100px;
}
.table-responsive{
  margin: 20px auto 0;
  width: 99%;
  border: 1px solid #ccc;

}
.table-responsive table{
  margin-bottom: 0;
}
.table-responsive table tr td, .table-responsive table tr th{
  border-left: 1px solid #ccc;
}


.menu_list{width:400px; overflow: hidden; margin-top:10px; border: 1px solid #ccc; padding: 10px;}
.menu_head{height:35px;line-height:35px;padding-left:38px;font-size:14px;color:#525252;cursor:pointer;border:1px solid #e1e1e1;position:relative;margin:0px;font-weight:bold;background:#f1f1f1}
.menu_list .current{background:#eee;}
.menu_list .current2{color: #f00; text-decoration: underline;}
.menu_body{line-height:38px;border-left:1px solid #e1e1e1; backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}

.pager{
  margin: 0 auto;
  text-align: left;
}
.pager li>a{
    border-radius: 5px;
    margin: 0 2px;
    padding: 5px 10px;
}
.qi_padt_30{
  padding-top: 30px;
}
.qi_mag_bott{
  margin-bottom: 15px;
}